name: next-app

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      cloud: google-cloud

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Access Environment
        run: echo "access the environment $cloud"

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build
